#container{
    position:absolute;
    left: 1000px;
    top:  15px;
    z-index: 1001;
}
a.mainNav{
    color: White;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    line-height: 50px;
    float: left;
    background-color: #1D3E66;
}
a.mainNav:hover{
    background-color: #3D6199;
    color: #AAAAAA;
}
a.selectedRollover{
    color: White;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    line-height: 50px;
    float: left;
    background-color: #3D6199;
}
.rolloverMenu{
    float:left;
    padding: 10px 10px 6px 10px;
    position: absolute;
    z-index: 1000;
    background-color: #3D6199;
    width: 100px;
}
.rolloverMenu#mainMenu{
    top: 40px;
}
.rolloverMenu a{
    color: White;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
